extends ./app.pug

block title
  |MelvIsntNormal

block content
  section.embed-msg
    header
      h1 Hi there :)
    p: :markdown
      This site is still under construction, but feel free to check out my [Twitter][] to find out when I've launched it properly!

      [twitter]: <https://twitter.com/melvisntnormal> "Melvin's Twitter"
