doctype html
html
  head
    link(rel='stylesheet' href="/static/app.css")
    title: block title
      |MelvIsntNormal

  body
    #wrapper
      aside
      #main-layout
        header
        main
          block content
            |No Content!
        footer