extends ./app

block page-content
  article
    != post.renderedContent

block app-context
  section#post.widget
    header
      h1: |Posts
    ol
      each post in appContext.post.list
        li
          a(href=post.url)= post.title
